@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
	--background-nav: #F2F3F7;
	--perfil-font-color: rgba(0,0,0,0.5);
	--perfil-link-color: rgba(0,0,0,0.9);
	--text-color: #000080;
	--github: #000000;
	--linkedin: #0A63BC;
	--instagram: #F7007D;
}
body {
	padding: 0;
	margin: 0;
	width: 95vw;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
}

header {
	width: 90vw;
	margin: auto auto;
}

header .menu{
	width: 20%;
	height: 100vh;
	position: fixed;
	font-family: 'Poppins', sans-serif;
	background-color: var(--background-nav);


	display: flex;
	flex-direction: column;
	align-items: center;
}

header .menu .perfil{
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

header .menu .perfil .perfil-foto img{
	width: 140px;
	border-radius: 50%;
}

header .menu .perfil .perfil-sub{
	margin-top: 0;
	width: 100%;

	display: flex;
	align-items: center;
	flex-direction: column;
}

header .menu .perfil .perfil-sub h1{
	font-size: 1.4em;
	color: rgba(0,0,0,0.8);
	margin-bottom: 0;
	padding-bottom: 0;
}

header .menu .perfil .perfil-sub h3{
	font-size: 1em;
	margin-top: 0;
	padding: 0;
	margin-bottom: 0;
	color: var(--perfil-font-color);
}

header .menu .perfil .perfil-sub .icons{
	padding: 0;
	width: 50%;
	font-size: 1.7em;
	color: var(--perfil-font-color);
	cursor: pointer;

}

header .menu .perfil .perfil-sub .icons ul{
	list-style-type: none;
	margin: auto auto;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

header .menu .perfil .perfil-sub .icons ul li{
	position: relative;
	text-decoration: none;
	color: var(--perfil-font-color);
	text-transform: uppercase;
}

header .menu .perfil .perfil-sub .icons ul li .github:hover{
	color: var(--github);
}

header .menu .perfil .perfil-sub .icons ul li .linkedin:hover{
	color: var(--linkedin);
}

header .menu .perfil .perfil-sub .icons ul li .instagram:hover{
	color: var(--instagram);
}

header .menu .perfil .nav-menu{
	width: 100%;
}

header .menu .nav-menu ul {
	list-style-type: none;
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

header .menu .nav-menu ul li{
	margin-top: 5px;
}

header .menu .nav-menu ul li a{
	position: relative;
	text-decoration: none;
	color: var(--perfil-font-color);
	text-transform: uppercase;
}

header .menu .nav-menu ul li a:hover{
	text-decoration: underline;
	color: var(--perfil-link-color);
}

header .menu footer{
	width: 200px;
	bottom: 3px;
	position: fixed;
	font-size: .8em;
	color: var(--perfil-font-color);

}

header .content {
	width: 80%;
	margin-left: 22%;
	margin-right: 0;
}

header .content .content-inicio{
	width: 100%;
	height: 100vh;
}

header .content .content-inicio{
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	background: url("../img/web-developer.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

header .content .content-inicio .inicio-apres .opaco {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #FFFFFF;
	opacity: 0.4;
}

header .content .content-inicio .inicio-apres h1{
	font-size: 4em;
	color: #0000FF;
	font-weight: 700;
	opacity: 1.3;

	box-shadow: .6em 0 0 #05ffa3;
	margin: 2rem 0.2rem;
	width: 14ch;
	overflow: hidden;
	white-space: nowrap;
	animation: caret .5s step-end infinite alternate,
	type 1.5s steps(13, end)
}

@keyframes type {
	0% {
		width: 0;
	}
}

@keyframes caret {
	50% {
		box-shadow: .6em 0 0 transparent;
	}
}

header .content .content-inicio .inicio-apres p{
	font-size: 1.8em;
	padding: 5px;
	color: var(--text-color);
	opacity: 1.3;
}

header .content .content-inicio .inicio-apres #bkg1{
	width: 30%;
	position: absolute;
	bottom: 0;
	margin: 2em;
}

header .content .content-inicio .inicio-apres #bkg2 {
	width: 35%;
	position: absolute;
	bottom: 0;
	margin: 2em;
	display: none;
}

.description{
	width: 95%;
	margin: 30px;
	padding-top: 20px;
}

.description h4{
	font-size: 0,5rem;
	color: var(--perfil-font-color);
}

.description h2{
	padding: 15px;
	font-size: 2em;
	color: #363030;
	text-decoration: underline;
}

.box-info{
	width: 100%;
	height: 150px;
	position: relative;
	margin-top: 280px;
	
	display: flex;
	align-items: center;
	flex-direction: column;
}

.box{
	width: 150px;
	height: 150px;
	position: relative;
}

header .content .content-sobre{
	width: 100%;
	height: 120vh;
	background-color: #FFFFFF;
	margin: 10px
}

header .content .content-sobre .description h2{
	top: 13px;
}

header .content .content-sobre .description p{
	font-size: 1.3rem;
	top: 13px;
}

header .content .content-sobre .description .box-languages{
	width: 100%;
	height: 100px;
	position: relative;
	padding-bottom: -30px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .content .content-sobre .description .box-languages .box{
	margin-top: 200px;
	text-align: center;
	text-transform: uppercase;
}

header .content .content-sobre .description .box-languages .box img{
	width: 100%;
	height: 100%;
}

header .content .content-sobre .description .box-info{
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header .content .content-sobre .description .box-info h4{
	margin-top: 30px;
	bottom: 3px;
	font-size: 2em;
	color: #000000;
	position: relative;
}

header .content .content-sobre .description .box-info button{
	top: -10px;
	position: relative;
	font-size: 1em;
}

header .content .content-work{
	width: 100%;
	height: 160vh;
}

header .content .content-work .boxes{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

header .content .content-work .boxes .box{
	width: 20%;
	height: 250px;
	margin-top: 60px;
	border: 1px solid rgba(160, 157, 157, 0.1);
	box-shadow: 5px 8px 8px 1px rgba(0, 0, 0, 0.2);
}

header .content .content-work .boxes .box h1, p{
	width: 80%;
	margin: auto auto;
	padding-top: 20px;
}

header .content .content-work .boxes .box img{
	width: 80px;
	height: 80px;
	margin: -50px 30% 0 30%;
}

header .content .content-work .box-info{
	width: 90%;
	margin: 10% auto 0 auto;
	background-color: #f7f4f4;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header .content .content-work .box-info h2{
	padding: 15px;
	color: #363030;
}


header .content .content-habilidades{
	width: 100%;
	height: 80vh;
	
}

header .content .content-habilidades .description p{
	margin: 0 13px 0 0;
	font-size: 1.3em;
}

header .content .content-habilidades .description .boxes{
	width: 75%;
	height: 50px;	
	margin: auto 20px auto 0;
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

header .content .content-habilidades .description .boxes .box{
	width: 50%;
	margin: 30px 10px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

header .content .content-habilidades .description .boxes .box p{
	margin: -15px 5px 0 5px;
}

header .content .content-habilidades .description .boxes .box .progress-bar{
	width: 180%;
	height: 20px;
	margin: 5px;
	background-color: #ccc;
	display: flex;
}

.progress-bar::before{
	content: '';
}

.pg-html .progress-bar::before{
	width: 61.14%;
	background-color: #DD4B25;
}

.pg-css .progress-bar::before{
	width: 72.04%;
	background-color: #0068BA;
}

.pg-javascript .progress-bar::before{
	width: 84.04%;
	background-color: #F7DF1E;
}

.pg-typescript .progress-bar::before{
	width: 72.680%;
	background-color: #3178C6;
}

.pg-python .progress-bar::before{
	width: 59.69%;
	background-color: #3674A5;
}

.pg-php .progress-bar::before{
	width: 44%;
	background-color: #777BB3;
}

header .content .content-contato{
	width: 100%;
	height: 100vh;
}

header .content .content-contato .contacts{
	width: 70%;
	margin: auto auto;
	padding-top: 50px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;

}

header .content .content-contato .contacts img{
	width: 30%;
}

header .content .content-contato .contacts a{
	text-decoration: none;
	margin: auto auto;
	color: var(--text-color);
}
