@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&family=Quicksand:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
	--pri-color: #F2F3F7;
	--White-color: #FFFFFF;
	--Black-rgb: 0, 0, 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 95vw;
	background-color: var(--White-color);
}

header {
	width: 90vw;
	margin: auto auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header .perfil-lateral {
	width: 20%;
	height: 100vh;
	position: fixed;
	background-color: var(--pri-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}
header .perfil-lateral .perfil {
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
header .perfil-lateral .perfil .perfil-foto {
	width: 125px;
	height: 125px;
}
header .perfil-lateral .perfil .perfil-foto img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
header .perfil-lateral a {
	color: rgba(var(--Black-rgb), 0.5);
	text-decoration: none;
	text-transform: uppercase;
}
header .perfil-lateral .perfil-sub {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
header .perfil-lateral .perfil-sub h1 {
	font-size: 1.6em;
	color: rgba(var(--Black-rgb), 0.8);
}
header .perfil-lateral .perfil-sub h3 {
	font-size: 1em;
	margin-top: 0;
	color: rgba(27, 26, 26, 0.8);
}
header .perfil-lateral .perfil-sub .redes-sociais {
	width: 70%;
	align-items: center;
	font-size: 2rem;
	cursor: pointer;
	margin: auto auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-around;
}
header .perfil-lateral .perfil-sub .redes-sociais .link-github {
	color: rgba(var(--Black-rgb), 0.5);
}
header .perfil-lateral .perfil-sub .redes-sociais .link-github:hover {
	background-image: linear-gradient(to right, #211F1F, #211F1F 25%, #6e5494 25%, #6e5494 50%, #211F1F 50%, #211F1F 75%, #242321 75%, #242321);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header .perfil-lateral .perfil-sub .redes-sociais .link-linkedin {
	color: rgba(var(--Black-rgb), 0.5);
}
header .perfil-lateral .perfil-sub .redes-sociais .link-linkedin:hover {
	background-image: linear-gradient(to bottom, #0077B5, #0077B5, #0077B5, #0077B5, #0077B5, #0077B5, #0A66C2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header .perfil-lateral .perfil-sub .redes-sociais .link-instagram {
	color: rgba(var(--Black-rgb), 0.5);
}
header .perfil-lateral .perfil-sub .redes-sociais .link-instagram:hover {
	background-image: linear-gradient(to bottom, rgb(245, 133, 41), rgb(221, 42, 123), rgb(193, 53, 132), rgb(131, 58, 180), rgb(88, 81, 219), rgb(64, 93, 230), rgb(0, 132, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header .perfil-lateral .nav-menu {
	width: 60%;
	margin: 30px auto 0 auto;
}
header .perfil-lateral .nav-menu ul {
	list-style-type: none;
}
header .perfil-lateral .nav-menu ul li {
	padding-bottom: 20px;
	font-size: 1.3rem;
}
header .perfil-lateral .nav-menu ul li a {
	color: rgba(var(--Black-rgb), 0.5);
}
header .perfil-lateral .nav-menu ul li a:hover {
	color: rgba(var(--Black-rgb), 0.9);
	text-decoration: underline;
}
header .perfil-lateral footer {
	display: flex;
	justify-content: space-around;
}
header .perfil-lateral footer p {
	position: fixed;
	bottom: 0;
}
header .content {
	width: 82%;
	margin: 0 0 0 20%;
	box-sizing: border-box;
}
header .content .container {
	width: 100%;
	height: 100vh;
}
header .content #Home .container #first {
	width: 100%;
	height: 100%;
	display: block;
}
header .content #Home .container #second {
	width: 100%;
	height: 100%;
	display: none;
}
header .content #Home .container .image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	object-fit: cover;
}
header .content #Home .apres {
	width: 500px;
	position: absolute;
	bottom: 150px;
	margin: 30px;
	text-align: center;
}
header .content #Home .apres h1 {
	font-size: 4em;
	font-weight: 700;
	opacity: 0.8;
	padding: 30px;
	box-shadow: 0.2em 0 0 #0e1110;
	width: 15ch;
	overflow: hidden;
	white-space: nowrap;
	animation: caret 0.5s step-end infinite alternate, type 1.5s steps(14, end);
}

@keyframes type {
	0% {
		width: 0;
	}
}
@keyframes caret {
	50% {
		box-shadow: 0.4em 0 0 transparent;
	}
}
header .sub {
	top: 15px;
	font-weight: 300;
	font-family: "Poppins", sans-serif;
}
header #Home .container .apres p {
	font-size: 1.4em;
	font-weight: 700;
	opacity: 0.7;
	padding: 5px;
}
header #Home .container .apres .btn {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #070707;
	border-radius: 0.6em;
	color: #2c2a2a;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px auto 10px auto;
	padding: 1em 2em;
	text-align: center;
	text-transform: uppercase;
	font-family: "Dosis", sans-serif;
	font-weight: 700;
	border-color: #d8d8b2;
	color: #FFF;
	box-shadow: 0 0 10px 0 #d8d8b2 inset, 0 0 10px 4px #d8d8b2;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
header #Home .container .apres .btn:focus {
	color: var(--White-color);
	outline: 0;
}
header #Home .container .apres .btn:hover {
	box-shadow: 0 0 40px 40px #d8d8b2 inset, 0 0 0 0 #d8d8b2;
}
header #Home .container .apres .btn a {
	text-decoration: none;
	color: rgba(var(--Black-rgb), 0.8);
}
header #Home .container .apres .btn a:hover {
	text-decoration: underline;
}
header #About {
	width: 100%;
	height: 120vh;
	background-color: var(--White-color);
}
header #About .container {
	padding: 10px 30px;
}
header #About .container .desc {
	width: 800px;
	margin: 20px auto 0 auto;
}
header #About .container .desc h2 {
	padding: 20px 30px;
	font-size: 1.8em;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	text-decoration: underline;
}
header #About .container .desc p {
	padding: 10px 30px;
	font-family: "Poppins", sans-serif;
	font-size: 1em;
}
header #About .container .box-languages {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-around;
}
header #About .container .box-languages .box {
	width: 250px;
	height: 400px;
	background-color: #6e5494;
}
header #About .container .box-info {
	margin-top: 50px;
	font-family: "Poppins", sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	text-align: center;
}
header #About .container .box-info a {
	color: #2a2323;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #2a2323;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	width: 150px;
	height: 40px;
	margin: auto auto;
}
header #About .container .box-info a:hover {
	color: rgb(40, 40, 40);
	background-color: rgba(132, 167, 201, 0.81);
}
header #Work {
	width: 100%;
	height: 160vh;
	background-color: var(--White-color);
}
header #Work .container {
	padding: 10px 30px;
}
header #Work .container h2 {
	padding: 20px 30px;
	font-size: 1.8em;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	text-decoration: underline;
	text-align: center;
}
header #Work .container .boxes {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
header #Work .container .boxes .box {
	width: 20%;
	height: 250px;
	margin-top: 60px;
	border: 1px solid rgba(160, 157, 157, 0.1);
	box-shadow: 5px 8px 8px 1px rgba(var(--Black-rgb), 0.2);
}
header #Work .container .boxes .box img {
	width: 80px;
	height: 80px;
	margin: -50px 30% 0 30%;
}
header #Work .container .boxes .box h1, header #Work .container .boxes .box p {
	width: 80%;
	margin: auto auto;
	padding-top: 20px;
}
header #Work .container .box-info {
	width: 90%;
	margin: 10% auto 0 auto;
	background-color: #F7F4F4;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
header #Work .container .box-info h2 {
	padding: 15px;
	color: #363030;
}
header #Ability {
	width: 100%;
	height: 60vh;
	background-color: var(--White-color);
}
header #Ability .container {
	padding: 10px 30px;
}
header #Ability .container h2 {
	padding: 20px 30px;
	font-size: 1.8em;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	text-decoration: underline;
}
header #Ability .container p {
	padding: 10px 30px;
	font-family: "Poppins", sans-serif;
	font-size: 1em;
}
header #Ability .container .boxes {
	width: 75%;
	height: 50px;
	margin: auto 20px auto 0;
	display: flex;
	justify-content: space-between;
	justify-items: center;
}
header #Ability .container .boxes .box {
	width: 50%;
	margin: 30px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
header #Ability .container .boxes .box p {
	margin: -15px 5px 0 5px;
}
header #Ability .container .boxes .box .progress-bar {
	width: 180%;
	height: 20px;
	margin: 5px;
	background-color: #CCCCCC;
	display: flex;
}
header #Ability .container .boxes .box .progress-bar::before {
	content: "";
}

.pg-html .progress-bar::before {
	width: 61.14%;
	background-color: #DD4B25;
}

.pg-css .progress-bar::before {
	width: 72.04%;
	background-color: #0068BA;
}

.pg-javascript .progress-bar::before {
	width: 84.04%;
	background-color: #F7DF1E;
}

.pg-typescript .progress-bar::before {
	width: 72.68%;
	background-color: #3178C6;
}

.pg-python .progress-bar::before {
	width: 59.69%;
	background-color: #3674A5;
}

.pg-php .progress-bar::before {
	width: 44%;
	background-color: #777BB3;
}

header #Contact {
	width: 100%;
	height: 60vh;
	background-color: var(--White-color);
}
header #Contact .container {
	padding: 10px 30px;
}
header #Contact .container h2 {
	padding: 20px 30px;
	font-size: 1.8em;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	text-decoration: underline;
}
header #Contact .container p {
	padding: 10px 30px;
	font-family: "Poppins", sans-serif;
	font-size: 1em;
}
header #Contact .container .contacts {
	width: 70%;
	margin: auto auto;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
header #Contact .container .contacts img {
	width: 30%;
}
header #Contact .container .contacts a {
	text-decoration: none;
	margin: auto auto;
	color: #000080;
}

/*# sourceMappingURL=styles.css.map */
