// Cores
$fundo_principal: #E4E8EC;
// $fundo_principal: #F5F7FA;
$fundo_secundario: #F5F7FA;
// $fundo_secundario: #E4E8EC;
$cor_primaria: #0F4C75;
$cor_secundaria: #FF784F;
$texto_principal: #333333;
$texto_secundario: #666666;
$texto_alerta: #32C48D;

// Media Queries
$_desktop: 1200px;
$_tablet: 852px;
$_mobile: 375px;